<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Cadastrar</title>        
        <style>

            #CampoTurma {
                display: none;
            }

        </style>
    </head> 
    <body>
        <h1>Cadastrar</h1>
        <form action="/cadastro/cadUser" method="post">

<label>CPF:</label>
<input type="text" name="CPF"><br><br>

<label>RG:</label>
<input type="text" name="RG"><br><br>

<label>Nome:</label>
<input type="text" name="NOME"><br><br>

<label>Telefone:</label>
<input type="text" name="TELEFONE"><br><br>

<label>Data Nascimento:</label>
<input type="date" name="DT_NASC"><br><br>

<label>Email:</label>
<input type="email" name="EMAIL"><br><br>

<label>Login:</label>
<input type="text" name="LOGIN_USER"><br><br>

<label>Senha:</label>
<input type="password" name="SENHA"><br><br>


<div id="CampoTurma">
    <label>Turma:</label>
    <input type="text" name="CampoTurma"><br><br>
</div>

    

<label for="TIPO_USER">Escolha uma opção:</label>
<select id="TIPO_USER" name="TIPO_USER">
  <option value="">-- Selecione --</option>
  <option value="valor1">Administrador</option>
  <option value="valor2">Professor</option>
  <option value="valor3">Aluno</option>
</select>

<script>

    const tipoPessoa = document.getElementById("TIPO_USER")
    const campoTurma = document.getElementById("CampoTurma")
    tipoPessoa.addEventListener("change", function(){

        if (tipoPessoa.value === "valor3"){
                CampoTurma.style.display = "block"        
        }
        else if (tipoPessoa.value === "valor2"){
                CampoTurma.style.display = "block"        
        }
        else{
            CampoTurma.style.display = "none"        
        }

    }); 

    

</script>


<button type="submit">Cadastrar</button>
        </form>
        
    </body>
</html>