
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>login</title>
    </head> 
    <body>
        <h1>login</h1>
        <form action="/login/auth" method="post">
        <label>Login:</label>
        <input type="text" name="LOGIN_USER" required><br><br>
        
        <label>SENHA:</label>
        <input type="password" name="SENHA" required><br><br>
        

        <button type="submit">Fazer Login</button>
    </form>
    
  
           
    </body>
</html>